<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="/home.js"></script>
  <link rel="stylesheet" href="/home.css">
<title>Touple</title>
</head>
<body>

<h1>Touple</h1>
<p>Touple is a simple web application where groups can decide where to meet when deciding on a time/date for an event, or meeting. This is mainly used for scheduling for students at SFU.</p>
<form type="submit" action="/club/home" method="POST" id="homeForm" class="<%= props.loginFailed || props.regFailed || props.login ? 'hide' : '';  %>">
  <button type="button" class="button" id="button1" onclick="showForm('loginForm');" onclick="hideForm('homeForm');">Login</button>
  <button type="button" class="button" id="button2" onclick="showForm('registerForm');" onclick="hideForm('homeForm');">Register</button>
</form>
  <p class="error"><%= props.loginFailed ? 'Invalid Username or Password.' : ''; %></p>
  <p class="notice"><%= props.login ? 'Registration Successful' : ''; %></p>
<form type="submit" action="/club/login" method="POST" id="loginForm" class="<%= props.loginFailed || props.login ? '' : 'hide';  %>">
  <div id="input">
      <table id="table1">
          <tbody id="logintable">
              <tr>
                  <th>Username:</th>
                  <td><input type="text" name="username" placeholder="Username" required></td>
              </tr>
              <tr>
                  <th>Password:</th>
                  <td> <input type="password" name="password" placeholder="password" required></td>
              </tr>
          </tbody>
      </table>
      <p></p>
      <button class= "button" id="button2"  onclick="showForm('homeForm');">Back</button>
      <button class ="button" id="frontbutton" type="submit">Login</button>
  </div>
</form>
  <p class="error"><%= props.regFailed ? 'Username taken.' : ''; %></p>
<form type="submit" action="/club/reg" method="POST" id="registerForm" class="<%= props.regFailed ? '' : 'hide';  %>">
  <div id="input">
      <table id="table2">
          <tr>
              <th>Create username:</th>
              <td><input type="text" name="username" placeholder="Create Username" required></td>
          </tr>
          <tr>
              <th>Create password:</th>
              <td> <input type="password" name="password" placeholder="Create password" required/></td>
          </tr>
      </table>
      <p></p>
      <button class= "button" id="button2" onclick="showForm('homeForm');">Back</button>
      <button class= "button" id="frontbutton" type="submit">Register</button>
  </div>
</form>
</body>
</html>